.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-cadastro {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
    width: 300px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 280px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #ced102;
}

body{
    background-color: #28a745;
    background-image: url(../imagens/papel\ de\ parede.jpg);
    background-size: cover;
    background-position: left center;
}